Problem*.cpp
Project*.cpp
ProjectEuler*
!ProjectEuler.*
!ProjectEulerTemplate.cpp
Matrix/NDimExprTemplate
boost*
fftw*
bin*
.*
!.gitignore
run.me*
**~
Pitch**
GoodSimplePuzzles/**
**.pdf
**.png
**.gif
