Problem*.cpp
Project*.cpp
ProjectEuler*
!ProjectEuler.*
!ProjectEulerTemplate.cpp
Matrix/NDimExprTemplate
tileCache.txt
Minesweeper/tileCache.txt
boost*
fftw*
bin*
.*
!.gitignore
run.me*
**~
Pitch**
GoodSimplePuzzles/**
Theorems/PermutaitonsAndCoverings/**
**.pdf
**.png
**.gif
